* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* PHONE MENU */

.nav {
    position: fixed;
    background-color: black;
    opacity: 0.75;
    z-index: 0;
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
    width: 100vw;
}
.menu {
    background-color: black;
    opacity: 75%;
    margin: 0 30px 0 0;
    font-family: 'Dosis', sans-serif;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    line-height: 70px;
}

span {
    color: #54D17A;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: fit-content;
    float: right;
    font-family: 'Kanit', sans-serif;
}
#toggle {
    display: none;
}





/* MENU HEADER */

.navbar {
    display: grid;
    grid-template-columns:12.5% 15.5% 12.5% 14%  16.5% 14.5% 14%;
    grid-template-rows: 100% 0%;

    position: fixed;
    height: 100px;
    width: 100vw;
    background-color: #000000;
    color: black;

    font-family: 'Dosis', sans-serif;
    font-size: 36px;
}


.logo {
    position: relative;
    z-index: 2;
    background-color: #000000;
    width: 15vw;
    align-content: center;
}

.logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.first-name-logo {
    position: relative;
    bottom: 1%;
    color: white;
    font-family: 'Fjalla One', sans-serif;
}

.last-name-logo {
    width: fit-content;
    background-color:white;
    color: black;
    position: relative;
    bottom: 1%;
    font-family: 'Fjalla One', sans-serif;
    
}

.home-tab2:hover {
    background: grey;
}

.home-tab-text {
    transform:skew(20deg);
    position: relative;
    z-index: 1;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    background: #FFFFFF;
    border: 5px solid #000000;
    box-sizing: border-box;
    transform: skew(160deg);
}

.about-tab:hover {
    background: grey;
}

.about-tab-text {
    transform:skew(20deg) 
}

.about-tab:hover {
    background: grey;
}

.resume-tab-text {
    transform: skew(20deg)
}

.resume-tab:hover {
    background: grey;
}

.contact-tab:hover {
    background: grey;
}

.contact-tab-text {
    transform:skew(20deg)
}
.contact-tab:hover {
    background: grey;
}

.projects-tab:hover {
    background: grey;
}

.projects-tab-text {
    transform: skew(20deg);
}

.projects-tab:hover {
    background: grey;
}

.social-media-logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.social-media-logos:hover {
    color: grey;
}


/* BODY */

body {
    background-color: black;
}

.site-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100vh;
    grid-row-gap: 20px;
    background-color: #000000;
}

.first-bg {
    width: 100vw;
    background-image: url("./src/BackgroundImages/BNW1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 100px;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 100px
}

.first-name {
    background-position: center;

}

.last-name {
    background-color: black;
    color: white;
    background-position: center;
    bottom: 5%;  
}

.second-bg {
    width: 100vw;
    background-image: url("./src/BackgroundImages/BNW2.jpg");
    background-repeat: no-repeat;
    background-size: cover
}


/* ABOUT SECTION */

.about-section {
    color: white;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    background-image: url("./src/BackgroundImages/BNW4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.about-subheading {
    margin: 15px;
    font-size: 14px;
}

.about-text {
    margin: 15px;
    font-family: 'Kanit', sans-serif;
}


/* RESUME SECTION */


.resume-section {
    color: black;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    background-image: url("./src/BackgroundImages/BNW7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.resume-text {
    margin: 15px;
    font-family: 'Kanit', sans-serif;
}


/* CONTACT SECTION */


.contact-section {
    color: white;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    background-image: url("./src/BackgroundImages/BNW6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 10px;
    border: black;
    border-style: solid;
    border-width: 5px;
}

.contact-your-email {
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
}

.contact-your-message {
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    height: 20%;
    width: 75vw

}

.contact-send-button {
    display: flex; 
    justify-content: center;

}

.contact-text {
    margin: 15px;
    font-family: 'Kanit', sans-serif;
}


/* PROJECTS SECTION */

.projects-section {
    color: black;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    background-image: url("./src/BackgroundImages/BNW5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.projects-text {
    margin: 15px;
    font-family: 'Kanit', sans-serif;
}

@media only screen and (min-width: 500px) {
    .nav {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .navbar {
        display: none;
        height: 100%;
        font-size: 18px;
    }

    label {
        color: white;
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    .first-bg {
        font-size: 45px;
    }

    .about-section{
        height: 100%;
    }

    .about-subheading {

    }

    .about-text {
        font-size: 12px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 1.5);
    }
}